*,:after,:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-rolimons-16x16{background-image:url(https://i.imgur.com/Rw6SYbA.png);background-repeat:no-repeat;background-size:32px auto;width:16px;height:16px;display:inline-block;vertical-align:middle;}
.dark-theme .icon-rolimons-16x16{background-image:url(https://i.imgur.com/Rw6SYbA.png);}
.icon-rolimons-16x16{background-position:0 -64px;}
.icon-rolimons-16x16{background-image:url(https://i.imgur.com/Rw6SYbA.png);background-repeat:no-repeat;background-size:auto auto;width:20px;height:20px;display:inline-block;vertical-align:middle;}
.dark-theme .icon-rolimons-16x16{background-image:url(https://i.imgur.com/Rw6SYbA.png);}
.icon-rolimons-16x16{background-position:-20px -20px;}
.item-card-caption .icon-rolimons-16x16{background-position:0 -20px;margin-bottom:3px;margin-right:-3px;}
.item-card-container .icon-rolimons-16x16{background-position:0 -20px;margin-bottom:2px;margin-right:-2px;}
.light-theme .demand-tooltip-text {
    color: #393b3d!important;
}
.light-theme .hide-button{
    filter: invert(1);
}
.text-blur{
    color: transparent!important;
    text-shadow: 0 0 15px rgba(255,255,255,0.5)!important;
}

.light-theme .text-blur{
    color: transparent!important;
    text-shadow: 0 0 15px rgba(0,0,0,0.5)!important;
}

.trade-flag-info {
    display:none!important;
}

.trade-flag-div:hover .trade-flag-info{
    display:block!important;
}